/* Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

/* body */
html {
    scroll-behavior: smooth;
}

*{
    font-family: 'Space Grotesk', sans-serif;
}

/* tools */

.dark{
    background-color: #191A23!important;
}

.green{
    background-color: #B9FF66!important;
}
.green-text{
    color:#B9FF66 ;
}

.white-text{
    color: white!important;
}

.whithe-back{
    background-color: #F3F3F3!important;
}

/* header */


nav{
    background-color: #ffff!important;
    box-shadow: none!important;
}
#side-menu i{
    margin-top: 30px!important;
    margin-left: 60px!important;
}
.main-title a{
    text-decoration: none;
    color: #111;
}

nav a{
    margin-top: 25px!important;
}

header h1{
    font-size: 45px;
    font-weight: bold;
}
.btn-devis{
    background-color: #ffff!important;
    color: black!important;
    border-radius: 15px 15px 15px 15px!important;
    border: 1px solid black;
    box-shadow: none;
    height: 70px;
    font-size: 14px!important;
    margin-right: 0px!important;
    margin-left: 25px!important;
    margin-top: 15px!important;
}

nav ul li a{
    margin-left: 25px!important;
    font-size: 16px;
    color:black!important;
}

/* contenu */

.intro{
    margin-top: 50px;   
}
.intro h2,p{
    z-index: 999;
}
.btn-rdv{
    background-color: #111!important;
    color: white!important;
    border-radius: 15px 15px 15px 15px!important;
    border: 1px solid black;
    box-shadow: none;
    height: 70px;
    font-size: 15px!important;
    line-height: 64px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.btn-rdv:hover{
    filter: brightness(150%);
}

.intro h2{
    font-size: 65px;
    line-height: 76px;
    margin-bottom: 50px;
}
.intro span{
    color: #B9FF66;
}

.intro p {

    margin-bottom: 50px;
    font-size: 20px;
}

.logo{
    margin-top: 50px;
}

/* produits */

.product{
    margin-top: 100px;
}
/* séparation */

.separation{
    padding: 0!important;
    margin-right: 0!important;
    margin-top: 50px!important;
    margin-bottom: 50px!important;
}
.title-product h2{
    background-color: #B9FF66;
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px 15px 15px 15px!important;
}
.sous-title p{
    margin-top: 30px;
    font-size: 17px;
}

.card-project{
      display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
    margin: 0;
    justify-content: center;
    padding: 0;
}

.product-card{
    width: 500px;
    height: 310px;
    background-color:#F3F3F3 ;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    border-radius: 45px;
    margin-bottom: 50px;
    margin-right: 20px;
}
.product-card h3{
    width: 200px;
    margin-left:50px;
    font-size: 25px;
    background-color: #B9FF66;
}

.product-card img{
margin-left: 350px;
width: 150px;

}
.product-card i{
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: #111;
    color: #B9FF66;
    border-radius: 50%;
    margin-right: 20px
}
.product-card a{
    margin-bottom: 20px;
    color: #111;

}
.product-card a:hover{
   color: red;
}

.product-end{
    background-color: #F3F3F3;
    border-radius: 45px;
    width: 100%;
    margin: auto;
}

.product-end h3, .product-end p, .product-end a{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 35px;
}
.product-end h3{
    font-weight: bold;
}

.product-end p{
    font-size: 20px;
}
.product-end img{
  z-index: 999;
  scale: 1.1;
}

  /* exemple */

.exemple{
    margin-top: 100px;
}

.line{
    width: 200px;
    height: 0;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    margin-top: 100px;
}

.exemple-avis{
    background-color: #191A23;
    color: #FFFFFF;
    border-radius: 45px;
    font-size: 18px;
}

.exemple-avis{
    padding: 70px;
}

/* responsive */

@media only screen and (max-width: 1200px){
    .product-card img{
        margin-left: 110px;
    }
    form input{
        width: 70%!important;
    }
    .btn-devis{
        display: none!important;
    }
}

@media only screen and (max-width: 800px) {
    .card-center {
        margin-left: 0px;
    }
    .title-product h2{
        text-align: center;
    }
    .product-card img{
        margin-left: 90px;
    }
    form{
        margin-left: 0px!important;
    }
    form input{
        width: 50%!important;
    }
  }

  @media only screen and (max-width: 600px) {
    .product-end{
        margin: auto;
    }
    .product-card img{
        margin-left: 50px;
    }
    .temoignages-background p{ 
        padding: 0;
        color: #F3F3F3;
    }
    form{
        margin-left: 0px!important;
    }
    form input{
        width: 70%!important;
    }
    #side-menu i{
        margin-left: 10px!important;
    }
   
  }

  @media only screen and (max-width: 320px) {
    p {
        font-size: 12px;
    }
    .product-card img{
        margin-left: 10px;
    }
    form{
        margin-left: 0px!important;
    }
    form input{
        width: 60%!important;
    }
    #side-menu i{
        margin-left: 10px!important;
    }
  }

/* catégories */

.categories{
    margin-top: 50px;
}

.collapsible-header{
    border: 1px solid #191A23!important; 
    box-shadow: 0px 5px 0px #191A23!important;
    border-radius: 45px!important;  
}
.collapsible-body{ 
    padding-top: 100px!important;
    border-radius: 5px!important;
    border:none!important; 
}
.collapsible.popout > li {
    box-shadow: none!important;
}
.collapsible li{
    box-shadow: 0px 5px 0px #191A23!important;
    margin-bottom: 50px!important;
}

.active .collapsible-header{
    background-color:#B9FF66;
    transition: 1s;
}
.active .collapsible-body{
    display: contents;
}

.collapsible-header h3{
    font-weight: bold;
    margin-right: 50px;
    margin-left: 20px;
}

.collapsible-header h4{
    font-size: 25px;
}
.top-collapsible{
    margin-top: 50px;
    margin-left: -200px;
}
.separator-bar{
    height: 2px;
    background-color: #F3F3F3;
    margin-bottom: 20px;
    margin-top: 60px!important;
}
.top-collapsible p{
    margin-top: 0px!important;
}

.flex{
    display: flex;
    
    justify-content: center;
}

.card-team{
    background: #FFFFFF;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    border-radius: 45px;
    width: 400px;
    height: 300px;
}

.card-header h3{
    font-size: 20px;
    font-weight: bold;
}

.profile-img{
    margin-right: 20px;
    width: 30%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
    margin: 0;
    justify-content: center;
    padding: 0;
}

.card-body p {
    padding: 10px!important;
}

.card-team a img{
    padding: 10px!important;
}

/* temoignages */

.temoignages-background-color{
    background-color: #191A23;
    border-radius: 45px;
}


.temoignages-background p{ 
    padding: 20px;
    color: #F3F3F3;
}

.temoignages-background{
    padding: 10px;
    border: 2px solid #B9FF66;
    border-radius: 45px;
    margin-right: 50px;
    margin-top: 50px;
    
}

.temoignages-name h3{
    color: #B9FF66;
    font-size: 30px;
}

.temoignages-name h4{
    color: #F3F3F3;
    font-size: 20px;
    margin-bottom: 50px;
}

.radio-flex{
    display: flex;
}

/* Contact */

.form-example input,textarea{
    background: #FFFFFF!important;
    padding: 10px!important;
    border: 1px solid #000000!important;
    border-radius: 14px!important;
    margin-bottom: 25px!important;
}

.contact-form{
    background-color: #F3F3F3;
    border-radius: 45px;
}
form{
    margin-left: 100px;
}


.img-contact img{
    scale: 1.1;
}
/* footer */
.footer{
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    background-color: #191A23;
    color: #969494;
}

.footer h1{
    font-size: 30px;
    color: #F3F3F3;
}
.footer h2{
    font-size: 25px;
    color: #111;
    padding: 10px;
}
.footer h4{
    font-size: 15px;
    color: #F3F3F3;
}
.privacy {
    margin-top: 25px;
}

.footer a{
    color: #969494;
    text-decoration: underline;
}

.footer li{
    margin-top: 25px;
}

.footer form{
    background-color:#292A32 ;
    border-radius: 25px;
}

.footer input{
    margin-top: 30px!important;
    margin-left: 50px!important;
    margin-right: 10px!important;
    background-color: #191A23!important;
}

/* PRODUCT PAGE */

.product-par{
    margin-top: 100PX;
}
.product-par h2 span{
    color: #B9FF66;
}
.product-par h2{
    font-weight: bold;
}

.p-product h2{
    width: 500px; 
    font-size: 40px;
}

/* PAGE WILDEXPLORE */

.flex-stars{
    display: flex;
    gap: 20px;
}
.flex-star{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.propos{
    font-size: 25px;
    font-weight: bold;
}

.img-propos{
    margin-bottom: 150px;
}

